.conic-bg-1 {
  background: conic-gradient(
    from 180deg at bottom left,
    deeppink,
    rebeccapurple
  ) border-box;
  
  --shadow: rebeccapurple;
}

.conic-bg-2 {
  background: conic-gradient(
    from 90deg at bottom right,
    cyan, 
    rebeccapurple
  ) border-box;
  
  --shadow: cyan;
}

.conic-bg-3 {
  background: conic-gradient(
    from 0deg at bottom left,
    deeppink, 
    cyan
  ) border-box;
  
  --shadow: deeppink;
}

.conic-bg-4 {
  background: conic-gradient(
    from -180deg at bottom right,
    deeppink, 
    cyan,
    rebeccapurple
  ) border-box;
  
  --shadow: cyan;
}

.conic-bg-5 {
  background: conic-gradient(
    from 0deg at top right,
    lime, 
    cyan
  ) border-box;
  
  --shadow: cyan;
}

.conic-bg-6 {
  background: conic-gradient(
    from -90deg at top left,
    black, 
    white
  ) border-box;
  
  --shadow: gray;
}

.conic-bg-6 {
  background: conic-gradient(
    from -90deg at top left,
    black, 
    white
  ) border-box;
  
  --shadow: gray;
}

.conic-bg-7 {
  background: conic-gradient(
    from 0deg at top right,
    slategray, 
    white
  ) border-box;
  
  --shadow: slategray;
}

.conic-bg-8 {
  background: conic-gradient(
    from 180deg at 50% 110%,
    white, 
    orange
  ) border-box;
  
  --shadow: orange;
}

.conic-bg-9 {
  background: conic-gradient(
    from 180deg at center left,
    lime, 
    cyan
  ) border-box;
  
  --shadow: cyan;
}