.gradients {
  --widest: 480px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(1px,100%), var(--widest)));
  place-content: center;
  gap: 10vmin;
  padding: 5vmin;

  @media (width > 240px) {
    & { --widest: 40%; }
  }

  @media (width > 845px) {
    & { --widest: 30%; }
  }

  @media (width > 845px) {
    & {
      --widest: 320px;
      padding: 10vmin 5vmin;
    }
  }

  /* @media (hover) {
    & > * {
      transition: opacity 1s ease;
    }

    &:hover > :not(:hover) {
      opacity: .35;
    }
  } */
}